*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html{
  font-size: 62.5%;
}
.Header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.DarkLightMode{
  display: flex;
  justify-content: center;
}
.darkMode{
  background-color: rgb(23, 23, 23);
}
.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

