:root{
  --gold: #D3BC8E;
  --brown: #A68074;
  --veish: #F2EEE6;
  --borderWhite: #EBEBEB;
  --borderBrown: #CCBAAD;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html{
  font-size: 62.5%;
}
/*---------header------*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gold);
}
.Header{
  align-items: center;
  height: 50px;
  padding-left: 8rem;
}

.DarkLightMode{
  padding-left: 8rem;
}
.darkMode{
  background-color: rgb(23, 23, 23);
  color: white;
}
.lightMode{
  background-color: white;
  color: black;
}
.dark-toggle{
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-color: var(--brown);
  background-color: white;
  text-align: center;
}
.iconDarkLightMode{
  width: 28px;
}
/*division*/
hr{
  border: 3px solid var(--borderWhite);
}